<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JudgeaBook-Add a Book</title>
</head>
<body>
    <h3>Add a Book to Website</h3>
    <form method="post">
        <input type="text" name="title" placeholder="Book Title">
        <input type="text" name="author" placeholder="Name of Author">
        <input type="text" name="genre" placeholder="genre">
        <input type="text" name="dscrptn" placeholder="Add description">
        <input type="submit" value="Add">
    </form>
</body>
</html>