<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>

<body class="bg-zinc-900">
    <%- include('partials/navbar', { user: user }) %>
    <main class="p-4">
        <div class="grid md:grid-cols-5 grid-cols-2 gap-3">
            <% book.reverse().forEach(function(cover){%>
                <a href="/book/<%=cover.isbn%>"><div
                class="h-[20vh] xl:text-lg lg:text-md md:text-md text-sm flex flex-col text-white bg-zinc-800 border-2 border-gray-500 p-4 justify-between rounded-xl shadow-lg">
                
                <div class="overflow-y-hidden">
                            <%= cover.title %>
                        </div>
                    <div class="overflow-y-hidden">
                        <div>by:</div>
                        <%= cover.author %>
                    </div>
                </div></a>
                <%}) %>
        </div>
    </main>
</body>

</html>